<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="ground">
    <H1 class="title">Spotsaver</H1>
    <a href="/logout" class="escape">Logout</a> <a href="/" class="escape">Back to About</a> 
    <br>
    <h1 class="person">Hello {{request.session.user_name}}!</h1>
    <div class="listing">
        {% for spot in spots %}
        <p>{{ spot.author.first_name }}</p>
        <p>{{ spot.author.last_name }}</p></a>
        <a href="/place/{{spot.id}}"><p>{{ spot.location }}</p></a>
        <p>{{ spot.spot_num }}</p>
        <p>{{ spot.description }}</p>
        <br>
        <a href="/delete/{{spot.id}}" role="button" class="btn btn-danger">Remove</a>
        {% endfor %}
        <form action="/adding" method="POST">
            {% csrf_token %}
            <br>
            <div class="newl">
                <button type="submit">Create A New Listing</button>
            </div>
        </form>
    </div>
</body>
</html>