#wrapper{
    margin: 0px auto;
    width: 1200px;
}
#about{
    margin: 0px auto;
    width: 1500px;
}
.ground{
    background-color: #80a2ac;
}
.form{
    display: inline-block;
    width: 500px;
    text-align: center;
    vertical-align: top;
    margin: 185px;
    font-family: sans-serif;
    border: 10px solid #e6b199;
    background-color: #264b4d;
}
.w-form{
    border: 5px solid black;
    display: inline-block;
    margin: 0px auto;
}
input{
    display: block;
    margin-left: 175px;
}
.submit{
    margin: 15px 0px 25px 2px;
}
.nav{
    /* border-bottom: 2px solid black; */
    width: 1100px;
}
.escape{
    margin-left: 1500px;
    vertical-align: top;
    display: inline-block;
    margin-top: -50px;
}
.return{
    margin-left: 35px;
    display: inline-block;
}
.container{
    display: table-cell;
    width: 500px;
    vertical-align: top;
}
.photo{
    width: 1800px;
    display: inline-block;
    margin-left: 180px;
    padding: 20px;
}
#about{
    width: 1800px;
    background-color: #264b4d;
    height: 1040px;
}
.photo img{
    display: inline-block;
    justify-content: space-around;
    width: 400px;
    height: 375px;  
    /* margin: 130px; */
    margin-right: 70px;
    border: 7px solid #e6b199;
    vertical-align: top;
}
.bio{
    display: inline-block;
    width: 1500px;
}
.bio p{
    width: 600px;
    display: inline-block;
    margin-left: 550px;
    font-size: 20px;
}
.title{
    display: flex;
    margin-left: 755px;
    font-size: 55px;
    color:#e6b199;
}
.button{
    display: inline-block;
    margin-left: 650px;
    padding: 30px;
}
*{
    padding: 0px;
    margin: 0px;

}
.main{
    height: 1040px;
    width: 980px;
    margin: 0 auto;
    background-color: #264b4d;
}

.input{
    /* margin-left: 53px; */
    padding: 5px;
    display: inline-block;
    vertical-align: top;
    font-size: large;
    margin-top: 5px;
}

.add_header{
    padding: 14px;
    text-align: center;
    color: black;
    background-color: #e6b199;
}

.button{
    border-radius: 8px;
    padding: 8px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}
.listing p{
    font-size: 30px;
    margin-left: 35px;
}
.text{
    margin-top: 5px;
}
.listing{
    display: inline-block;
    margin: 10px;
    width: 15%;
    padding: 5px;
    background-color: #88b2b2;
    border: solid 5px  #e6b199;
    margin-left: 30px;
}
.newl{
    display: inline-block;
}
#map{
    height: 300px;
    width: 600px;
    margin: 25px;
    margin-left: 85px;
    }
    .finalf{
        display: inline=block;
        border: solid 5px  #e6b199;
        margin: 20px;
        margin-right: 85px;
    }
    .finalf p{
        width: 700px;
        padding: 40px;
    }
    .finalf img{
        display: inline-block;
        width: 500px;
        height: 375px;  
        margin-left: 150px;
        padding: 5px;
    }